* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root, button, input {
    font-family: 'Space Mono', monospace;
    --primary-strong-cyan: hsl(172, 67%, 45%);
    --neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --neutral-dark-grayish: hsl(184, 14%, 56%);
    --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --neutral-light-grayish: hsl(189, 41%, 97%);
    --neutral-white: hsl(0, 0%, 100%);
}


body {
    background-color: var(--neutral-light-grayish-cyan);
}


header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-very-dark-cyan);
}

header h1 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .8rem;
}

main {
    background-color: var(--neutral-white);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 30px 35px;
}

main p {
    color: var(--neutral-dark-grayish-cyan);
    padding: 5px 0;
}

.big {
    background-color: var(--neutral-light-grayish);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7px 20px;
    border-radius: 0.25rem;
    margin-top: 10px;
}

main .big-input {
    cursor: pointer;
    background-color: var(--neutral-light-grayish);
    
    border: none;
    width: 90%;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
    color: var(--neutral-very-dark-cyan);
}

main .big-input:focus {
    outline: 0;
}

.tip-section {
    margin: 30px auto;
}

.tip-section > div {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    margin-top: 10px;
}

.tip-section .buttonTip, input {
    cursor: pointer;
    padding: 5px 20px;

    font-weight: 700;
    font-size: 24px;

    background-color: var(--neutral-very-dark-cyan);
    color: var(--neutral-white);

    border: none;
    border-radius: 0.25rem;
}

.tip-section .buttonTip:hover {
    color: var(--neutral-very-dark-cyan);
    background-color: var(--primary-strong-cyan);
}

.tip-section input[type=text] {
    cursor: pointer;
    min-width: -webkit-fill-available;
    text-align: end;
    color: var(--neutral-dark-grayish-cyan);
    background-color: var(--neutral-light-grayish);
}

.tip-section input[type=text]:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: var(--neutral-dark-grayish-cyan);
}

.modal-right {
    margin-top: 30px;
    background-color: var(--neutral-very-dark-cyan);
    border-radius: 0.8rem;
    padding: 30px 25px 20px;
}

.modal-right div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.modal-right p{
    color: var(--neutral-white);
}

.modal-right span {
    color: var(--neutral-dark-grayish-cyan);
    font-size: 14px;
}

.button {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-strong-cyan)!important;
}


.big-button {
    cursor: pointer;
    width: 100%;
    background-color: var(--primary-strong-cyan);

    border: none;
    border-radius: 0.25rem;

    text-transform: uppercase;
    color: var(--neutral-very-dark-cyan);
    
    font-weight: 700;
    font-size: 20px;

    padding: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: var(--neutral-white);
    padding: 30px;
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 600px){
    body{
        display: flex;
        flex-direction: column;
    }

    main {
        width: 80%;
        margin: auto;
        border-radius: 1.5rem;
        box-shadow: 0rem 1rem 10rem 0.8rem rgb(0 0 0 / 25%);
    }

    .attribution { 
        background: none;
    }
}

@media (min-width: 968.5px){
    body{
        display: flex;
        flex-direction: column;
    }

    main {
        width: 920px;
        margin: auto;
        display: flex;
        padding: 30px;
        border-radius: 1.5rem;
    }

    .modal-left {
        width: 350px;
        margin-right: 50px;
        margin-left: 20px;
    }
    
    .modal-right {
        flex: 1;
        margin-top: 0;
        padding: 50px 40px 35px;
    }

    .modal-right div {
        margin-bottom: 45px;
    }

    .tip-section > div {
        grid-template-columns: repeat(3, 1fr);
    }

    .tip-section input {
        font-size: 18px;
    }

    .button {
        font-size: 36px;
    }

    .big-button {
        margin-top: 35px;
    }

    .attribution { 
        background: none;
    }
}